@{
    ViewData["Title"] = "Semantic UI Example";
}



 <link href="~/iconpack/icon.css" rel="stylesheet" />
    <link href="~/iconpack/icon.min.css" rel="stylesheet" />
    <script src="~/iconpack/package.js"></script>   


<div class="ui segment">
    <h2 class="ui header">Semantic UI Example</h2>
    <p>This is a basic example of using Semantic UI elements in an ASP.NET Core MVC view.</p>

    <div class="ui message">
        <i class="info icon"></i>
        <div class="content">
            <div class="header">Information</div>
            <p>This is a message box with Semantic UI styling.</p>
        </div>
    </div>

    <button class="ui button primary">Primary Button</button>
    <button class="ui button secondary">Secondary Button</button>

    <div class="ui input">
        <input type="text" placeholder="Enter text">
    </div>
</div>

 